<div>
<p>This guide references the following extensions.</p>
<p>
<a href="StructureDefinition-AssociatedPreconditionExt-definitions.html">associatedPrecondition</a><br/>
<a href="StructureDefinition-BodyPositionExt-definitions.html">bodyPosition</a><br/>
<a href="StructureDefinition-BloodPressureCuffSizeExt-definitions.html">bpCuffSize</a><br/>
<a href="StructureDefinition-DataAbsentReasonExt-definitions.html">dataAbsentReason</a><br/>
<a href="StructureDefinition-DataOriginationModeExt-definitions.html">dataOriginationMode</a><br/>
<a href="StructureDefinition-DeltaFlagExt-definitions.html">deltaFlag</a><br/>
<a href="StructureDefinition-DeviceExt-definitions.html">device</a><br/>
<a href="StructureDefinition-EstimatedIndExt-definitions.html">estimatedInd</a><br/>
<a href="StructureDefinition-FocalSubjectExt-definitions.html">focalSubject</a><br/>
<a href="StructureDefinition-MeasurementDeviceExt-definitions.html">measurementDevice</a><br/>
<a href="StructureDefinition-MethodDeviceExt-definitions.html">methodDevice</a><br/>
<a href="StructureDefinition-SensorDescriptionExt-definitions.html">sensorDescription</a><br/>
<a href="StructureDefinition-SleepStatusExt-definitions.html">sleepStatus</a><br/>
</p>
</div>
