<div>
<p>This guide references the following extensions.</p>
<p>
<a href="StructureDefinition-AssociatedPreconditionExt-definitions.html">AssociatedPreconditionExt</a><br/>
<a href="StructureDefinition-BodyPositionExt-definitions.html">BodyPositionExt</a><br/>
<a href="StructureDefinition-BloodPressureCuffSizeExt-definitions.html">BloodPressureCuffSizeExt</a><br/>
<a href="StructureDefinition-DataAbsentReasonExt-definitions.html">DataAbsentReasonExt</a><br/>
<a href="StructureDefinition-DataOriginationModeExt-definitions.html">DataOriginationModeExt</a><br/>
<a href="StructureDefinition-DeltaFlagExt-definitions.html">DeltaFlagExt</a><br/>
<a href="StructureDefinition-DeviceExt-definitions.html">DeviceExt</a><br/>
<a href="StructureDefinition-EstimatedIndExt-definitions.html">EstimatedIndExt</a><br/>
<a href="StructureDefinition-FocalSubjectExt-definitions.html">FocalSubjectExt</a><br/>
<a href="StructureDefinition-MeasurementDeviceExt-definitions.html">MeasurementDeviceExt</a><br/>
<a href="StructureDefinition-MethodDeviceExt-definitions.html">MethodDeviceExt</a><br/>
<a href="StructureDefinition-SensorDescriptionExt-definitions.html">SensorDescriptionExt</a><br/>
<a href="StructureDefinition-SleepStatusExt-definitions.html">SleepStatusExt</a><br/>
</p>
</div>
