<div>
  <p>
    This guide defines the following profiles to be used to meet the FPAR reporting data elements. Note: For lab observations, the path for the date of the lab is Observation.effective[x], the path for the result of the lab is Observation.value[x], and the path for the LOINC code is Observation.code.
  </p>
  <h3>Non-lab data element crosswalk</h3>

  <table class="grid">
    <thead>
      <tr>
        <th width="40%">FPAR data element</th>
        <th>FHIR profile or profile element</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Facility Identifier</td>
        <td class=xl65>fpar-organization.id (within the <a href="StructureDefinition-fpar-organization.html">fpar-organization</a> profile)</td>
      </tr>
      <tr>
        <td>Clinical Provider Identifier</td>
        <td class=xl65>fpar-practitioner.identifier (within <a href="StructureDefinition-fpar-practitioner.html">fpar-practitioner</a> profile)</td>
      </tr>
      <tr>
        <td>Clinical Provider Role</td>
        <td class=xl65>fpar-practitionerRole.specialty (within <a href="StructureDefinition-fpar-practitionerRole.html">fpar-practitionerRole</a> profile)</td>
      </tr>
      <tr>
        <td>Visit Date</td>
        <td class=xl65>fpar-generalencounterperiod.start (within <a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a> profile)</td>
      </tr>
      <tr>
        <td>Annual Household Income</td>
        <td class=xl65><a href="StructureDefinition-hspc-annualHouseholdIncome.html">hspc-annualHouseholdIncome</a></td>
      </tr>
      <tr>
        <td>Household Size</td>
        <td class=xl65><a href="StructureDefinition-hspc-householdSize.html">hspc-householdSize</a></td>
      </tr>
      <tr>
        <td>Smoking status</td>
        <td class=xl65><a href="StructureDefinition-hspc-smokingStatus.html">hspc-smokingStatus</a></td>
      </tr>
      <tr>
        <td>Insurance Coverage Type</td>
        <td class=xl65>fpar-coverage.type (within <a href="StructureDefinition-fpar-coverage.html">fpar-coverage</a> profile)</td>
      </tr>
      <tr>
        <td>Payer for Visit</td>
        <td class=xl65>extensions-primaryInsuranceClassification (within <a href="StructureDefinition-fpar-coverage.html">fpar-coverage</a> profile)</td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td class=xl65>fpar-patient.birthDate (within <a href="StructureDefinition-fpar-patient.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Birth Sex</td>
        <td class=xl65>fpar-patient.extension:birthsex (within <a href="StructureDefinition-fpar-patient.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Race</td>
        <td class=xl65>fpar-patient.extension:race (within <a href="StructureDefinition-fpar-patient.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Ethnicity</td>
        <td class=xl65>fpar-patient.extension:ethnicity (within <a href="StructureDefinition-fpar-patient.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Limited English Proficiency</td>
        <td class=xl65><a href="StructureDefinition-fpar-limitedEnglishProficiencyEval.html">fpar-limitedEnglishProficiencyEval</a></td>
      </tr>
      <tr>
        <td>Patient Identifier</td>
        <td class=xl65>fpar-patient.identifier (within <a href="StructureDefinition-fpar-patient.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Height</td>
        <td class=xl65><a href="StructureDefinition-hspc-height.html">hspc-height</a></td>
      </tr>
      <tr>
        <td>Weight</td>
        <td class=xl65><a href="StructureDefinition-hspc-bodyWeight.html">hspc-bodyWeight</a></td>
      </tr>
      <tr>
        <td>Systolic blood pressure</td>
        <td class=xl65><a href="StructureDefinition-hspc-systolicbp.html">hspc-systolicbp</a></td>
      </tr>
      <tr>
        <td>Diastolic blood pressure</td>
        <td class=xl65><a href="StructureDefinition-hspc-diastolicbp.html">hspc-diastolicbp</a></td>
      </tr>
      <tr>
        <td>Parity</td>
        <td class=xl65><a href="StructureDefinition-hspc-diastolicbp.html">hspc-parity</a></td>
      </tr>
      <tr>
        <td>Gravidity</td>
        <td class=xl65><a href="StructureDefinition-hspc-gravidity.html">hspc-gravidity</a></td>
      </tr>
      <tr>
        <td>Pregnancy Status</td>
        <td class=xl65><a href="StructureDefinition-fpar-pregnancyStatusEval.html">fpar-pregnancyStatusEval</a></td>
      </tr>
      <tr>
        <td>Pregnancy Status Reporting Method</td>
        <td class=xl65>fpar-pregnancyStatusEval.extension:reportingMethod (within <a href="StructureDefinition-fpar-pregnancyStatusEval.html"fpar-pregnancyStatusEval</a> profile)</td>
      </tr>
      <tr>
        <td>Pregnancy test performed</td>
        <td class=xl65>
          <a href="StructureDefinition-hspc-BHcgPregSerplQl.html">hspc-BHcgPregSerplQl</a></br>
          <a href="StructureDefinition-hspc-HcgPregSerplQl.html">hspc-HcgPregSerplQl</a></br>
          <a href="StructureDefinition-hspc-HcgPregUrQl.html">hspc-HcgPregUrQl</a></br>
          <a href="StructureDefinition-hspc-HcgPregSerQlIaRapid.html">hspc-HcgPregSerQlIaRapid</a></br>
          <a href="StructureDefinition-hspc-BHcgSerplAcnc.html">hspc-BHcgSerplAcnc</a></br>
          <a href="StructureDefinition-hspc-HcgSerplAcnc.html">hspc-HcgSerplAcnc</a></br>
        </td>
      </tr>
      <tr>
        <td>Pregnancy Intention</td>
        <td class=xl65><a href="StructureDefinition-fpar-pregnancyIntentionEval.html">fpar-pregnancyIntentionEval</a></td>
      </tr>
      <tr>
        <td>Ever Had Sex</td>
        <td class=xl65>fpar-virginalStatusEval</td>
      </tr>
      <tr>
        <td>Sex Last 3 Months</td>
        <td class=xl65><a href="StructureDefinition-hspc-sexLastThreeMonths.html ">hspc-sexLastThreeMonths</a></td>
      </tr>
      <tr>
        <td>Sex Last 12 Months</td>
        <td class=xl65><a href="StructureDefinition-hspc-sexLastTwelveMonths.html">hspc-sexLastTwelveMonths</a></td>
      </tr>
      <tr>
        <td>Contraceptive Method(s) at Intake</td>
        <td class=xl65><a href="StructureDefinition-fpar-contraceptiveChoiceInitial.html">fpar-contraceptiveChoiceInitial</a></td>
      </tr>
      <tr>
        <td>Reason for no contraceptive method at intake</td>
        <td class=xl65>fpar-contraceptiveChoiceInitial.dataAbsentReason (within <a href="StructureDefinition-fpar-contraceptiveChoiceInitial.html">fpar-contraceptiveChoiceInitial</a> profile)</td>
      </tr>
      <tr>
        <td>Contraceptive Method(s) at Exit</td>
        <td class=xl65><a href="StructureDefinition-fpar-contraceptiveChoiceAtExit.html">fpar-contraceptiveChoiceAtExit</a></td>
      </tr>
      <tr>
        <td>How Contraceptive Method(s) Provided At Exit</td>
        <td class=xl65>fpar-contraceptiveChoiceAtExit.extension:ContraceptionProvisionMethod$Extension (within <a href="StructureDefinition-fpar-contraceptiveChoiceAtExit.html">fpar-contraceptiveChoiceAtExit</a> profile)</td>
      </tr>
      <tr>
        <td>Reason for no contraceptive method at exit</td>
        <td class=xl74>fpar-contraceptiveChoiceAtExit.dataAbsentReason (within <a href="StructureDefinition-fpar-contraceptiveChoiceAtExit.html">fpar-contraceptiveChoiceAtExit</a> profile)</td>
      </tr>
      <tr>
        <td>Contraceptive Counseling</td>
        <td class=xl65><a href="StructureDefinition-fpar-contraceptiveCounseling.html">fpar-contraceptiveCounseling</a></td>
      </tr>
      <tr>
        <td>Counseling to Achieve Pregnancy</td>
        <td class=xl65><a href="StructureDefinition-fpar-counselingToAchievePregnancy.html">fpar-counselingToAchievePregnancy</a></td>
      </tr>
      <tr>
        <td>HIV Referral Recommended Date</td>
        <td class=xl65>referralRequest.authoredOn</td>
      </tr>
      <tr>
        <td>HIV Referral Visit Completed Date</td>
        <td class=xl65>encounterperiod.end</td>
      </tr>
      <tr>
        <td>Date of Last HIV test <br> HIV Rapid Test Result<br> HIV Supplemental Test Result<br></td>
        <td>
          <a href="StructureDefinition-hspc-Hiv1RnaXxxQlPcr.html">hspc-Hiv1RnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-Hiv1AbSerQlIb.html">hspc-Hiv1AbSerQlIb</a></br>
          <a href="StructureDefinition-hspc-Hiv1AbSerplbldQlEiaRapid.html">hspc-Hiv1AbSerplbldQlEiaRapid</a></br>
          <a href="StructureDefinition-hspc-Hiv2AbSerQlEia.html">hspc-Hiv2AbSerQlEia</a></br>
          <a href="StructureDefinition-hspc-Hiv1And2AbSerQlEia.html">hspc-Hiv1And2AbSerQlEia</a></br>
          <a href="StructureDefinition-hspc-Hiv1RnaSerplPcrDl17Log.html">hspc-Hiv1RnaSerplPcrDl17Log</a></br>
          <a href="StructureDefinition-hspc-Hiv1RnaSerplPcrDl50.html">hspc-Hiv1RnaSerplPcrDl50</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Last HPV Co-test<br> HPV Test Result</td>
        <td>
          <a href="StructureDefinition-hspc-HpvIHRisk4DnaCervixQlBdna.html">hspc-HpvIHRisk4DnaCervixQlBdna</a></br>
          <a href="StructureDefinition-hspc-HpvIHRiskDnaCervixQlPrb.html">hspc-HpvIHRiskDnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-HpvIHRisk1DnaCervixQlBdna.html">hspc-HpvIHRisk1DnaCervixQlBdna</a></br>
          <a href="StructureDefinition-hspc-HpvDnaCervixQlBdna.html">hspc-HpvDnaCervixQlBdna</a></br>
          <a href="StructureDefinition-hspc-HpvIHRisk1DnaXxxQlPcr.html">hspc-HpvIHRisk1DnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-HpvE6AndE7MrnaCervixQlPcr.html">hspc-HpvE6AndE7MrnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-Hpv12HrTypesDnaTissQlPrb.html">hspc-Hpv12HrTypesDnaTissQlPrb</a></br>
          <a href="StructureDefinition-hspc-HpvCervix.html">hspc-HpvCervix</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgGenitalQl.html">hspc-Hpv16And18AgGenitalQl</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgCervixQl.html">hspc-Hpv16And18AgCervixQl</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgVagQl.html">hspc-Hpv16And18AgVagQl</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgUrthQl.html">hspc-Hpv16And18AgUrthQl</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgXxxQl.html">hspc-Hpv16And18AgXxxQl</a></br>
          <a href="StructureDefinition-hspc-HpvDnaCervixQlPrb.html">hspc-HpvDnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-HpvRrnaGenitalQlPcr.html">hspc-HpvRrnaGenitalQlPcr</a></br>
          <a href="StructureDefinition-hspc-HpvRrnaXxxQlPcr.html">hspc-HpvRrnaXxxQlPcr</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Last CT test<br> CT Test Result</td>
        <td>
          <a href="StructureDefinition-hspc-CTrachDnaXxxPcrAcnc.html">hspc-CTrachDnaXxxPcrAcnc</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaXxxQlPcr.html">hspc-CTrachRrnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaUrthQlPcr.html">hspc-CTrachDnaUrthQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaXxxQlPrb.html">hspc-CTrachRrnaXxxQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaGenitalQlPrb.html">hspc-CTrachRrnaGenitalQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaUrQlPrb.html">hspc-CTrachRrnaUrQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaCervMucusQlPcr.html">hspc-CTrachDnaCervMucusQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaCervixQlPcr.html">hspc-CTrachDnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaUrthQlPrb.html">hspc-CTrachRrnaUrthQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaXxxQlPcr.html">hspc-CTrachDnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaGenitalFlQlPrb.html">hspc-CTrachRrnaGenitalFlQlPrb</a></br>
          <a href="StructureDefinition-hspc-ChlamydiaDnaXxxQlPcr.html">hspc-ChlamydiaDnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaUrQlPcr.html">hspc-CTrachRrnaUrQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaXxxQlBdna.html">hspc-CTrachDnaXxxQlBdna</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaCervixQlPrb.html">hspc-CTrachRrnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaVagQlPrb.html">hspc-CTrachRrnaVagQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaVagQlPcr.html">hspc-CTrachDnaVagQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachL2DnaXxxQlPcr.html">hspc-CTrachL2DnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaXxxPcr.html">hspc-CTrachDnaXxxPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaCervixQlPcr.html">hspc-CTrachRrnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaUrthQlPcr.html">hspc-CTrachRrnaUrthQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaVagQlPcr.html">hspc-CTrachRrnaVagQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaGenitalQlPcr.html">hspc-CTrachDnaGenitalQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaUrQlPcr.html">hspc-CTrachDnaUrQlPcr</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Last GC test <br> GC Test Result</td>
        <td>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaXxxQlPcr.html">hspc-NGonorrhoeaRrnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaUrthQlPcr.html">hspc-NGonorrhoeaDnaUrthQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaGenitalQlPcr.html">hspc-NGonorrhoeaDnaGenitalQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaCervixQlPcr.html">hspc-NGonorrhoeaRrnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaCervMucusQlPcr.html">hspc-NGonorrhoeaDnaCervMucusQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaUrQlPcr.html">hspc-NGonorrhoeaDnaUrQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaXxxQlPcr.html">hspc-NGonorrhoeaDnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaCervixQlPrb.html">hspc-NGonorrhoeaRrnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaUrthQlPrb.html">hspc-NGonorrhoeaRrnaUrthQlPrb</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaVagQlPcr.html">hspc-NGonorrhoeaDnaVagQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaXxxQlBdna.html">hspc-NGonorrhoeaDnaXxxQlBdna</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaXxxQlPrb.html">hspc-NGonorrhoeaRrnaXxxQlPrb</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaVagQlPcr.html">hspc-NGonorrhoeaRrnaVagQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaUrthQlPcr.html">hspc-NGonorrhoeaRrnaUrthQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaAgGenitalQlEia.html">hspc-NGonorrhoeaAgGenitalQlEia</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaCervixQlCult.html">hspc-NGonorrhoeaCervixQlCult</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaGenitalQlCult.html">hspc-NGonorrhoeaGenitalQlCult</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaGenLochiaQlCult.html">hspc-NGonorrhoeaGenLochiaQlCult</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaVagQlCult.html">hspc-NGonorrhoeaVagQlCult</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaXxxQlCult.html">hspc-NGonorrhoeaXxxQlCult</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Last CT test<br> CT Test Result<br> Date of Last GC test <br> GC Test Result</td>
        <td>
          <a href="StructureDefinition-hspc-CtrachAndGCDNAXXXQlPCR.html">hspc-CtrachAndGCDNAXXXQlPCR</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaXxxPcr.html">hspc-CTrachAndGcDnaXxxPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaXxxQlBdna.html">hspc-CTrachAndGcDnaXxxQlBdna</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaUrQlPcr.html">hspc-CTrachAndGcDnaUrQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaGenitalQlPcr.html">hspc-CTrachAndGcDnaGenitalQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaCervixQlPrb.html">hspc-CTrachAndGcRrnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaCervixQlPcr.html">hspc-CTrachAndGcDnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaGenitalQlPrb.html">hspc-CTrachAndGcRrnaGenitalQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaVagQlPrb.html">hspc-CTrachAndGcRrnaVagQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaUrQlPrb.html">hspc-CTrachAndGcRrnaUrQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaXxxQlPrb.html">hspc-CTrachAndGcRrnaXxxQlPrb</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Pap Tests Last 5 Years<br> Last Pap Result</td>
        <td>
          <a href="StructureDefinition-hspc-CytoCervix.html">hspc-CytoCervix</a></br>
          <a href="StructureDefinition-hspc-CytoCvxVag.html">hspc-CytoCvxVag</a></br>
          <a href="StructureDefinition-hspc-CytoCvxVagCoded.html">hspc-CytoCvxVagCoded</a></br>
          <a href="StructureDefinition-hspc-CytologyCmntCvxVagCytoImp.html">hspc-CytologyCmntCvxVagCytoImp</a></br>
          <a href="StructureDefinition-hspc-CytologyCvxVagDocCyto.html">hspc-CytologyCvxVagDocCyto</a></br>
          <a href="StructureDefinition-hspc-CytologyCvxVagDocThinPrep.html">hspc-CytologyCvxVagDocThinPrep</a></br>
          <a href="StructureDefinition-hspc-GenCategCvxVagCytoImp.html">hspc-GenCategCvxVagCytoImp</a></br>
          <a href="StructureDefinition-hspc-StatOfAdqCvxVagCytoImp.html">hspc-StatOfAdqCvxVagCytoImp</a></br>
          <a href="StructureDefinition-hspc-StudyreportFindPtCvxVagDocCytology.html">hspc-StudyreportFindPtCvxVagDocCytology</a></br>
          <a href="StructureDefinition-hspc-ThinPrepCervix.html">hspc-ThinPrepCervix</a></br>
        </td>
      </tr>
    </tbody>
  </table>
</div>
