<div>
  <h3>Lab data element crosswalk</h3>

  <table class="grid">
    <thead>
      <tr>
        <th width="15%">LOINC code</th>
        <th width="40%">LOINC Name</th>
        <th width="25%">FPAR data element</th>
        <th width="20%">Set Members</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86636-8.html?sections=Comprehensive" target="_blank">86636-8&nbsp;&nbsp;</a></td>
        <td>Family planning report - FPAR 2.0 set</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/75524-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;75524-9&nbsp;&nbsp;</a></td>
        <td>Facility identifier</td>
        <td>Facility Identifier</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/68468-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;68468-8&nbsp;&nbsp;</a></td>
        <td>Attending physician NPI Provider</td>
        <td>Clinical Provider Identifier</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86637-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86637-6&nbsp;&nbsp;</a></td>
        <td>Provider role</td>
        <td>Clinical Provider Role</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/76427-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;76427-4&nbsp;&nbsp;</a></td>
        <td>Visit date</td>
        <td>Visit Date</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86638-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86638-4&nbsp;&nbsp;</a></td>
        <td>Patient demographic and administrative information panel [FPAR]</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/77244-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;77244-2&nbsp;&nbsp;</a></td>
        <td>Which category represents the total combined income of all members of your FAMILY during the past 12 months?</td>
        <td>Annual Household Income</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86639-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86639-2&nbsp;&nbsp;</a></td>
        <td>Household size [#]</td>
        <td>Household Size</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/72166-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;72166-2&nbsp;&nbsp;</a></td>
        <td>Tobacco smoking status NHIS</td>
        <td>Smoking status</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/87520-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;87520-3&nbsp;&nbsp;</a></td>
        <td>Primary insurance</td>
        <td>Insurance Coverage Type</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/52556-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;52556-8&nbsp;&nbsp;</a></td>
        <td>Payment sources</td>
        <td>Payer for Visit</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/21112-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21112-8&nbsp;&nbsp;</a></td>
        <td>Birth date</td>
        <td>Date of Birth</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/46098-0.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;46098-0&nbsp;&nbsp;</a></td>
        <td>Sex</td>
        <td>Birth Sex</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/32624-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;32624-9&nbsp;&nbsp;</a></td>
        <td>Race</td>
        <td>Race</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/69490-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;69490-1&nbsp;&nbsp;</a></td>
        <td>Ethnicity OMB.1997</td>
        <td>Ethnicity</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86640-0.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86640-0&nbsp;&nbsp;</a></td>
        <td>Limited English proficiency Qualitative</td>
        <td>Limited English Proficiency</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/76435-7.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;76435-7&nbsp;&nbsp;</a></td>
        <td>Patient identifier</td>
        <td>Patient Identifier</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86641-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86641-8&nbsp;&nbsp;</a></td>
        <td>Height, weight and blood pressure panel [FPAR]</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/8302-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8302-2&nbsp;&nbsp;</a></td>
        <td>Body height</td>
        <td>Height</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/29463-7.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;29463-7&nbsp;&nbsp;</a></td>
        <td>Body weight</td>
        <td>Weight</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/8480-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8480-6&nbsp;&nbsp;</a></td>
        <td>Systolic blood pressure</td>
        <td>Systolic blood pressure</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/8462-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8462-4&nbsp;&nbsp;</a></td>
        <td>Diastolic blood pressure</td>
        <td>Diastolic blood pressure</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86642-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86642-6&nbsp;&nbsp;</a></td>
        <td>Pregnancy and contraception
          panel [FPAR]</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/11977-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11977-6&nbsp;&nbsp;</a></td>
        <td>[#] Parity</td>
        <td>Parity</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/11996-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11996-6&nbsp;&nbsp;</a></td>
        <td>[#] Pregnancies</td>
        <td>Gravidity</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/82810-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;82810-3&nbsp;&nbsp;</a></td>
        <td>Pregnancy status</td>
        <td>Pregnancy Status</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86643-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86643-4&nbsp;&nbsp;</a></td>
        <td>Information source for pregnancy status</td>
        <td>Pregnancy Status Reporting Method</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86645-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86645-9&nbsp;&nbsp;</a></td>
        <td>Future pregnancy intention Reported</td>
        <td>Pregnancy Intention</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86646-7.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86646-7&nbsp;&nbsp;</a></td>
        <td>Ever had sex - Reported</td>
        <td>Ever Had Sex</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86647-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86647-5&nbsp;&nbsp;</a></td>
        <td>Sex in the last 3 months - Reported</td>
        <td>Sex Last 3 Months</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86648-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86648-3&nbsp;&nbsp;</a></td>
        <td>Sex in the last year - Reported</td>
        <td>Sex Last 12 Months</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86649-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86649-1&nbsp;&nbsp;</a></td>
        <td>Birth control method Reported --at intake</td>
        <td>Contraceptive Method(s) at Intake</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86650-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86650-9&nbsp;&nbsp;</a></td>
        <td>Reason for no birth control use Reported --at intake</td>
        <td>Reason for no contraceptive method at intake</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86651-7.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86651-7&nbsp;&nbsp;</a></td>
        <td>Birth control method Reported --at exit</td>
        <td>Contraceptive Method(s) at Exit</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86652-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86652-5&nbsp;&nbsp;</a></td>
        <td>How birth control method was provided</td>
        <td>How Contraceptive Method(s) Provided At Exit</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86653-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86653-3&nbsp;&nbsp;</a></td>
        <td>Reason for no birth control use Reported --at exit</td>
        <td>Reason for no contraceptive method at exit</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86654-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86654-1&nbsp;&nbsp;</a></td>
        <td>Contraceptive counseling was provided</td>
        <td>Contraceptive Counseling</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86655-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86655-8&nbsp;&nbsp;</a></td>
        <td>Counseling to achieve pregnancy was provided</td>
        <td>Counseling to Achieve Pregnancy</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86663-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86663-2&nbsp;&nbsp;</a></td>
        <td>HIV referral information panel [FPAR]</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/57202-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;57202-4&nbsp;&nbsp;</a></td>
        <td>Date of Referral [CMS Assessment]</td>
        <td>HIV Referral Recommended Date</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/76427-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;76427-4&nbsp;&nbsp;</a></td>
        <td>Visit date</td>
        <td>HIV Referral Visit Completed Date</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86657-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86657-4&nbsp;&nbsp;</a></td>
        <td>HIV 1 and 2 tests - FPAR 2.0 set</td>
        <td>Date of Last HIV test <br> HIV Rapid Test Result<br> HIV Supplemental Test Result<br> </td>
        <td>
          <a href="http://r.details.loinc.org/LOINC/5018-7.html?sections=Comprehensive" target="_blank">5018-7</a>,
          <a href="http://r.details.loinc.org/LOINC/5221-7.html?sections=Comprehensive" target="_blank">5221-7</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/68961-2.html?sections=Comprehensive" target="_blank">68961-2</a>,
          <a href="http://r.details.loinc.org/LOINC/30361-0.html?sections=Comprehensive" target="_blank">30361-0</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/31201-7.html?sections=Comprehensive" target="_blank">31201-7</a>,
          <a href="http://r.details.loinc.org/LOINC/48510-2.html?sections=Comprehensive" target="_blank">48510-2</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/48511-0.html?sections=Comprehensive" target="_blank">48511-0</a>
        </td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86658-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86658-2&nbsp;&nbsp;</a></td>
        <td>HPV tests - FPAR 2.0 set</td>
        <td>Date of Last HPV Co-test<br> HPV Test Result</td>
        <td>
          <a href="http://r.details.loinc.org/LOINC/59420-0.html?sections=Comprehensive" target="_blank">59420-0</a>,
          <a href="http://r.details.loinc.org/LOINC/21440-3.html?sections=Comprehensive" target="_blank">21440-3</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/30167-1.html?sections=Comprehensive" target="_blank">30167-1</a>,
          <a href="http://r.details.loinc.org/LOINC/38372-9.html?sections=Comprehensive" target="_blank">38372-9</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/49896-4.html?sections=Comprehensive" target="_blank">49896-4</a>,
          <a href="http://r.details.loinc.org/LOINC/69002-4.html?sections=Comprehensive" target="_blank">69002-4</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/73959-9.html?sections=Comprehensive" target="_blank">73959-9</a>,
          <a href="http://r.details.loinc.org/LOINC/11083-3.html?sections=Comprehensive" target="_blank">11083-3</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/12223-4.html?sections=Comprehensive" target="_blank">12223-4</a>,
          <a href="http://r.details.loinc.org/LOINC/14503-7.html?sections=Comprehensive" target="_blank">14503-7</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/14504-5.html?sections=Comprehensive" target="_blank">14504-5</a>,
          <a href="http://r.details.loinc.org/LOINC/14506-0.html?sections=Comprehensive" target="_blank">14506-0</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/17400-3.html?sections=Comprehensive" target="_blank">17400-3</a>,
          <a href="http://r.details.loinc.org/LOINC/44550-2.html?sections=Comprehensive" target="_blank">44550-2</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/6514-4.html?sections=Comprehensive" target="_blank">6514-4</a>,
          <a href="http://r.details.loinc.org/LOINC/6516-9.html?sections=Comprehensive" target="_blank">6516-9</a>
        </td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86659-0.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86659-0&nbsp;&nbsp;</a></td>
        <td>Chlamydia sp tests - FPAR 2.0 set</td>
        <td>Date of Last CT test<br> CT Test Result</td>
        <td>
          <a href="http://r.details.loinc.org/LOINC/49096-1.html?sections=Comprehensive" target="_blank">49096-1</a>,
          <a href="http://r.details.loinc.org/LOINC/43304-5.html?sections=Comprehensive" target="_blank">43304-5</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/21191-2.html?sections=Comprehensive" target="_blank">21191-2</a>,
          <a href="http://r.details.loinc.org/LOINC/4993-2.html?sections=Comprehensive" target="_blank">4993-2</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/16600-9.html?sections=Comprehensive" target="_blank">16600-9</a>,
          <a href="http://r.details.loinc.org/LOINC/16601-7.html?sections=Comprehensive" target="_blank">16601-7</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/21189-6.html?sections=Comprehensive" target="_blank">21189-6</a>,
          <a href="http://r.details.loinc.org/LOINC/21190-4.html?sections=Comprehensive" target="_blank">21190-4</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/21192-0.html?sections=Comprehensive" target="_blank">21192-0</a>,
          <a href="http://r.details.loinc.org/LOINC/21613-5.html?sections=Comprehensive" target="_blank">21613-5</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/23838-6.html?sections=Comprehensive" target="_blank">23838-6</a>,
          <a href="http://r.details.loinc.org/LOINC/35729-3.html?sections=Comprehensive" target="_blank">35729-3</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/42931-6.html?sections=Comprehensive" target="_blank">42931-6</a>,
          <a href="http://r.details.loinc.org/LOINC/43404-3.html?sections=Comprehensive" target="_blank">43404-3</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/45078-3.html?sections=Comprehensive" target="_blank">45078-3</a>,
          <a href="http://r.details.loinc.org/LOINC/45080-9.html?sections=Comprehensive" target="_blank">45080-9</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/45084-1.html?sections=Comprehensive" target="_blank">45084-1</a>,
          <a href="http://r.details.loinc.org/LOINC/47211-8.html?sections=Comprehensive" target="_blank">47211-8</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/47212-6.html?sections=Comprehensive" target="_blank">47212-6</a>,
          <a href="http://r.details.loinc.org/LOINC/50387-0.html?sections=Comprehensive" target="_blank">50387-0</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/53925-4.html?sections=Comprehensive" target="_blank">53925-4</a>,
          <a href="http://r.details.loinc.org/LOINC/53926-2.html?sections=Comprehensive" target="_blank">53926-2</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/6356-0.html?sections=Comprehensive" target="_blank">6356-0</a>,
          <a href="http://r.details.loinc.org/LOINC/6357-8.html?sections=Comprehensive" target="_blank">6357-8</a>
        </td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86660-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86660-8&nbsp;&nbsp;</a></td>
        <td>Neisseria gonorrhoeae tests - FPAR 2.0 set</td>
        <td>Date of Last GC test <br> GC Test Result</td>
        <td>
          <a href="http://r.details.loinc.org/LOINC/43305-2.html?sections=Comprehensive" target="_blank">43305-2</a>,
          <a href="http://r.details.loinc.org/LOINC/21415-5.html?sections=Comprehensive" target="_blank">21415-5</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/47387-6.html?sections=Comprehensive" target="_blank">47387-6</a>,
          <a href="http://r.details.loinc.org/LOINC/50388-8.html?sections=Comprehensive" target="_blank">50388-8</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/21414-8.html?sections=Comprehensive" target="_blank">21414-8</a>,
          <a href="http://r.details.loinc.org/LOINC/21416-3.html?sections=Comprehensive" target="_blank">21416-3</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/24111-7.html?sections=Comprehensive" target="_blank">24111-7</a>,
          <a href="http://r.details.loinc.org/LOINC/32198-4.html?sections=Comprehensive" target="_blank">32198-4</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/32199-2.html?sections=Comprehensive" target="_blank">32199-2</a>,
          <a href="http://r.details.loinc.org/LOINC/32705-6.html?sections=Comprehensive" target="_blank">32705-6</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/43403-5.html?sections=Comprehensive" target="_blank">43403-5</a>,
          <a href="http://r.details.loinc.org/LOINC/5028-6.html?sections=Comprehensive" target="_blank">5028-6</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/53879-3.html?sections=Comprehensive" target="_blank">53879-3</a>,
          <a href="http://r.details.loinc.org/LOINC/53927-0.html?sections=Comprehensive" target="_blank">53927-0</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/6487-3.html?sections=Comprehensive" target="_blank">6487-3</a>,
          <a href="http://r.details.loinc.org/LOINC/688-2.html?sections=Comprehensive" target="_blank">688-2</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/691-6.html?sections=Comprehensive" target="_blank">691-6</a>,
          <a href="http://r.details.loinc.org/LOINC/692-4.html?sections=Comprehensive" target="_blank">692-4</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/693-2.html?sections=Comprehensive" target="_blank">693-2</a>,
          <a href="http://r.details.loinc.org/LOINC/698-1.html?sections=Comprehensive" target="_blank">698-1</a>
        </td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86661-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86661-6&nbsp;&nbsp;</a></td>
        <td>Chlamydia trachomatis+ Neisseria gonorrhoeae tests - FPAR 2.0 set</td>
        <td>Date of Last CT test<br> CT Test Result<br> Date of Last GC test <br> GC Test Result</td>
        <td>
          <a href="http://r.details.loinc.org/LOINC/36902-5.html?sections=Comprehensive" target="_blank">36902-5</a>,
          <a href="http://r.details.loinc.org/LOINC/36903-3.html?sections=Comprehensive" target="_blank">36903-3</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/43406-8.html?sections=Comprehensive" target="_blank">43406-8</a>,
          <a href="http://r.details.loinc.org/LOINC/44806-8.html?sections=Comprehensive" target="_blank">44806-8</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/44807-6.html?sections=Comprehensive" target="_blank">44807-6</a>,
          <a href="http://r.details.loinc.org/LOINC/45067-6.html?sections=Comprehensive" target="_blank">45067-6</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/45068-4.html?sections=Comprehensive" target="_blank">45068-4</a>,
          <a href="http://r.details.loinc.org/LOINC/45069-2.html?sections=Comprehensive" target="_blank">45069-2</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/45070-0.html?sections=Comprehensive" target="_blank">45070-0</a>,
          <a href="http://r.details.loinc.org/LOINC/45074-2.html?sections=Comprehensive" target="_blank">45074-2</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/45076-7.html?sections=Comprehensive" target="_blank">45076-7</a>
        </td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86662-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86662-4&nbsp;&nbsp;</a></td>
        <td>Pap smear tests - FPAR 2.0 set</td>
        <td>Date of Pap Tests Last 5 Years<br> Last Pap Result</td>
        <td>
          <a href="http://r.details.loinc.org/LOINC/10524-7.html?sections=Comprehensive" target="_blank">10524-7</a>,
          <a href="http://r.details.loinc.org/LOINC/19766-5.html?sections=Comprehensive" target="_blank">19766-5</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/19765-7.html?sections=Comprehensive" target="_blank">19765-7</a>,
          <a href="http://r.details.loinc.org/LOINC/19774-9.html?sections=Comprehensive" target="_blank">19774-9</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/47528-5.html?sections=Comprehensive" target="_blank">47528-5</a>,
          <a href="http://r.details.loinc.org/LOINC/47527-7.html?sections=Comprehensive" target="_blank">47527-7</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/19762-4.html?sections=Comprehensive" target="_blank">19762-4</a>,
          <a href="http://r.details.loinc.org/LOINC/19764-0.html?sections=Comprehensive" target="_blank">19764-0</a>,<br/>
          <a href="http://r.details.loinc.org/LOINC/33717-0.html?sections=Comprehensive" target="_blank">33717-0</a>,
          <a href="http://r.details.loinc.org/LOINC/18500-9.html?sections=Comprehensive" target="_blank">18500-9</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
