<div>
<p>This guide references the following profiles.</p>
<p>
<a href="StructureDefinition-BloodPressurePanel-definitions.html">BloodPressurePanel</a><br/>
<a href="StructureDefinition-BodyLength-definitions.html">BodyLength</a><br/>
<a href="StructureDefinition-BodyMassIndexMeas-definitions.html">BodyMassIndexMeas</a><br/>
<a href="StructureDefinition-BodyTemperatureMeas-definitions.html">BodyTemperatureMeas</a><br/>
<a href="StructureDefinition-BodyWeightMeas-definitions.html">BodyWeightMeas</a><br/>
<a href="StructureDefinition-DiastolicBloodPressureMeas-definitions.html">DiastolicBloodPressureMeas</a><br/>
<a href="StructureDefinition-HL7FHIRVitalSignsPanel-definitions.html">HL7FHIRVitalSignsPanel</a><br/>
<a href="StructureDefinition-HeadOccipitalFrontalCircumference-definitions.html">HeadOccipitalFrontalCircumference</a><br/>
<a href="StructureDefinition-HeartRateMeas-definitions.html">HeartRateMeas</a><br/>
<a href="StructureDefinition-HeightMeas-definitions.html">HeightMeas</a><br/>
<a href="StructureDefinition-MeanArterialPressureMeas-definitions.html">MeanArterialPressureMeas</a><br/>
<a href="StructureDefinition-OxygenSaturationArterialBloodMeas-definitions.html">OxygenSaturationArterialBloodMeas</a><br/>
<a href="StructureDefinition-RespiratoryRateMeas-definitions.html">RespiratoryRateMeas</a><br/>
<a href="StructureDefinition-SystolicBloodPressureMeas-definitions.html">SystolicBloodPressureMeas</a><br/>
<a href="StructureDefinition-associatedPrecondition-definitions.html">associatedPrecondition</a><br/>
<a href="StructureDefinition-bodyPosition-definitions.html">bodyPosition</a><br/>
<a href="StructureDefinition-bpCuffSize-definitions.html">bpCuffSize</a><br/>
<a href="StructureDefinition-dataAbsentReason-definitions.html">dataAbsentReason</a><br/>
<a href="StructureDefinition-dataOriginationMode-definitions.html">dataOriginationMode</a><br/>
<a href="StructureDefinition-deltaFlag-definitions.html">deltaFlag</a><br/>
<a href="StructureDefinition-device-definitions.html">device</a><br/>
<a href="StructureDefinition-estimatedInd-definitions.html">estimatedInd</a><br/>
<a href="StructureDefinition-focalSubject-definitions.html">focalSubject</a><br/>
<a href="StructureDefinition-measurementDevice-definitions.html">measurementDevice</a><br/>
<a href="StructureDefinition-methodDevice-definitions.html">methodDevice</a><br/>
<a href="StructureDefinition-sensorDescription-definitions.html">sensorDescription</a><br/>
<a href="StructureDefinition-sleepStatus-definitions.html">sleepStatus</a><br/>
</p>
</div>
