<div>
<p>This guide references the following profiles.</p>
<p>
<a href="StructureDefinition-BloodPressurePanel-definitions.html">BloodPressurePanel</a><br/>
<a href="StructureDefinition-BodyLength-definitions.html">BodyLength</a><br/>
<a href="StructureDefinition-BodyMassIndexMeas-definitions.html">BodyMassIndexMeas</a><br/>
<a href="StructureDefinition-BodyTemperatureMeas-definitions.html">BodyTemperatureMeas</a><br/>
<a href="StructureDefinition-BodyWeightMeas-definitions.html">BodyWeightMeas</a><br/>
<a href="StructureDefinition-DiastolicBloodPressureMeas-definitions.html">DiastolicBloodPressureMeas</a><br/>
<a href="StructureDefinition-DiastolicBloodPressure24HourMeanMeas-definitions.html">DiastolicBloodPressure24HourMeanMeas</a><br/>
<a href="StructureDefinition-HL7FHIRVitalSignsPanel-definitions.html">HL7FHIRVitalSignsPanel</a><br/>
<a href="StructureDefinition-HeadOccipitalFrontalCircumference-definitions.html">HeadOccipitalFrontalCircumference</a><br/>
<a href="StructureDefinition-HeartRateMeas-definitions.html">HeartRateMeas</a><br/>
<a href="StructureDefinition-HeightMeas-definitions.html">HeightMeas</a><br/>
<a href="StructureDefinition-MeanArterialPressureMeas-definitions.html">MeanArterialPressureMeas</a><br/>
<a href="StructureDefinition-OxygenSaturationArterialBloodMeas-definitions.html">OxygenSaturationArterialBloodMeas</a><br/>
<a href="StructureDefinition-RespiratoryRateMeas-definitions.html">RespiratoryRateMeas</a><br/>
<a href="StructureDefinition-SystolicBloodPressureMeas-definitions.html">SystolicBloodPressureMeas</a><br/>
<a href="StructureDefinition-SystolicBloodPressure24HourMeanMeas-definitions.html">SystolicBloodPressure24HourMeanMeas</a><br/>
</p>
</div>
